#img-bg {
    background-image: url(https://i.pinimg.com/originals/46/12/6f/46126f13e75bd7e1138eb2ab8902fc93.jpg);
    min-height: 757px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}